body {
  margin: 0;
  background-color:	#2e2d2d;
}

main {
  max-width: 70vw;
  max-height: 70vh;
  margin: 0 auto;
}

.container {
  max-width: 96%;
  max-height: 100%;
  margin: 7% auto;
}

.squid-meme {
  width: 100%;
  height: 100%;
  margin: auto;
  border-radius: 1.3%;
  margin-bottom: 4%;
}

.area-under-img {
  display: flex;
  justify-content: space-between;
}

p {
  font-size: 1.75rem;
  letter-spacing: 0.7%;
  color: white;
  margin: 0;
}

.slider {
  max-width: 9%;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.dot {
  width: 1em;
  height: 1em;
  border-radius: 50%;
  background-color: #6495ED;
  cursor: pointer;
}

.dot:hover {
  background-color: white;
}

.dot:active {
  /* border-style: 1% solid white; */
}

.dot:after {
  background-color: #2e2d2d;
  /* border-style: 1% solid #6495ED; */
}

@media (max-width: 320px) {

  main {
    max-width: 96vw;
    max-height: 96vh;
  }

  .container {
    margin: 3.5% auto;
  }

  .squid-meme {
    margin-bottom: 3.5%;
  }

  .area-under-img {
    flex-direction: column;
  }
  
  p {
    order: 2;
    font-size: 1.125rem;
  }
  
  .slider {
    order: 1;
    max-width: 28%;
    margin: 0 auto;
    margin-bottom: 3.5%;
  }
  
  .dot {
    width: 0.7em;
    height: 0.7em;
    border-radius: 50%;
    background-color: #6495ED;
    cursor: pointer;
  }
}